@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	max-width: 69em;
	list-style: none;
	margin: 30px auto;
	padding: 0;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #6b7381;
	background: #f2f2f2;
}

a {
	color: #aaa;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.container > header {
	margin: 0 auto;
	padding: 2em;
	margin-bottom: 30px;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.8;
	padding: 0 0 0.6em 0.1em;
}

.title {
	margin-left: 100px;
    padding-top: 0.3em;
    float: left;
}

.title a {
    color: rgba(1,151,171,1);
}

.title a:hover {
    color: rgba(153,38,0,1);
    text-decoration:none;
}

/* Top Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #6b7381;
	display: inline-block;
}

.codrops-top a:hover {
	color: #424b5a;
	background: rgba(255,255,255,1);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 0.3em;
	font-size: 0.9em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #6b7381;
	color: #6b7381;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	opacity: 0.6;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}

/* jQuery Script Top Style */
#jquery-script-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #316594;
    background: #f2f2f2;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
    padding: 5px 0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}

.jquery-script-center {
    width: 960px;
    margin: 0 auto;
}
.jquery-script-center ul {
    width: 212px;
    float:left;
    line-height:45px;
    margin:0;
    padding:0;
    list-style:none;
}
.jquery-script-center a {
    text-decoration:none;
}
.jquery-script-clear {
    clear:both;
    height:0;
}

/* Login Button Style */
.login {
	margin-right: 100px;
	padding: 0;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 13px;
	text-align: center;
	float: right;
}

.login ul {
	margin: 0 auto;
	text-align: center;
}

.login li {
	list-style: none;
	position: relative;
	display: inline-block;
	width: 70px;
	height: 70px;
}

@-moz-keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

.round {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 20px;		
	text-decoration: none;		
	text-align: center;
	font-size: 18px;		
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	letter-spacing: -.065em;
	font-family: "Hammersmith One", sans-serif;		
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-radius: 300px;
	z-index: 1;
	border-width: 4px;
	border-style: solid;
}

.round:hover {
	width: 130%;
	height: 130%;
	left: -15%;
	top: -15%;
	font-size: 26px;
	padding-top: 28px;
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	box-shadow: 5px 5px 10px rgba(0,0,0,.3);
	z-index: 2;
	border-size: 10px;
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

a.red {
	background-color: rgba(239,57,50,1);
	color: rgba(133,32,28,1);
	border-color: rgba(133,32,28,.2);
}

a.red:hover {
	color: rgba(239,57,50,1);
}

a.green {
	background-color: rgba(1,151,171,1);
	color: rgba(0,63,71,1);
	border-color: rgba(0,63,71,.2);
}

a.green:hover {
	color: rgba(1,151,171,1);
}

a.yellow {
	background-color: rgba(252,227,1,1);
	color: rgba(153,38,0,1);
	border-color: rgba(153,38,0,.2);
}

a.yellow:hover {
	color: rgba(252,227,1,1);
}

.round span.round {
	display: block;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-size: 1px;
	border: none;
	padding: 40% 20% 0 20%;
	color: #fff;
}

.round span:hover {
	opacity: .85;
	font-size: 16px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
	text-shadow: 0 1px 1px rgba(0,0,0,.5);	
}

.green span {
	background: rgba(0,63,71,.7);		
}

.red span {
	background: rgba(133,32,28,.7);		
}

.yellow span {
	background: rgba(161,145,0,.7);	

}

/* Toggle Search Style */
.searchlink {
    position: relative;
}
.searchlink:hover {
    cursor: pointer;
}
.searchlink.open {
    color: #ffffff;
    background-color: rgba(1,151,171,1);
    border-color: rgba(0,63,71,.2);
}

.searchlink.open > .searchform {
    display: block;
}

/** search field **/
.searchform {
    display: none;
    position: absolute;
    width: 400px;
    height: 50px;
    line-height: 40px;
    top: 85px;
    left: -200px;
    padding: 0 15px;
    cursor: default;
}

.searchlink.open .searchform {
    display: block;
}

#search {
    display: block;
    position: relative;
}

#s {
    width: 470px;
    height: 50px;
    background-color: rgba(1,151,171,1);
    padding: 8px 11px;
    border: 0;
    color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 2em;
}

.sbtn {
    display: block;
    position: absolute;
    right: 5px;
    top: 13px;
    background: none;
    border: none;
    color: #bcbcbc;
    font-size: 0.6em;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;  
}

:-ms-input-placeholder {  
    color: white;  
}
