.codi_detail {
	max-width: 50em;
	margin: 30px auto;
	margin-bottom: 60px;
}

.codi_detail ul {
	float: right;
}

.product_detail {
	max-width: 60em; /* 960 px */
	margin: 0 auto;
}

.product_detail ul {
	float: right;
}

.product_detail-related_product img {
    display: inline;
    margin: 3px;
	height: 180px;
    width: 180px;
}

.product_detail-blog_review img {
    margin: 10px;
	height: 150px;
    width: 150px;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}
