body {
    background-color: #545e5d;
    padding: 3.75em 1.875em; /* 60px 30px */
}
strong {
    font-weight: 700;
}
h1 {
    font-size: 1.625em; /* 26px */
    font-style: italic;
    letter-spacing: -0.1em; /* 1px */
    text-align: center;
    margin-bottom: 1.875em; /* 30px */
}
h1, h1 a {
    color: #fff;
    color: rgba( 255, 255, 255, .5 );
}
h1 a:hover {
    color: #fff;
}

#wrapper {
    max-width: 60em; /* 960 px */
    margin: 0 auto;
}
#list {
    width: 103.125%; /* 990px */
    overflow: hidden;
    margin-left: -1.562%; /* 15px */
    margin-bottom: -1.875em; /* 30px */
}
.item {
    width: 30.303%; /* 300px */
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .5 );
    float: left;
    margin: 0 1.515% 1.875em; /* 15px 30px */ 
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.item:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and ( max-width: 40em ) /* 640px */
{
    .item
    {
        width: 46.876%; /* 305px */
        margin-bottom: 0.938em; /* 15px */
    }
}
@media only screen and ( max-width: 20em ) /* 640px */
{
    #list
    {
        width: 100%;
        margin-left: 0;
    }
        .item
        {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }
}