.searchlink {
  position: relative;
}
.searchlink:hover {
  cursor: pointer;
}
.searchlink.open {
  color: #ffffff;
  background-color: rgba(1,151,171,1);
  border-color: rgba(0,63,71,.2);
}

.searchlink.open > .searchform {
  display: block;
}


/** search field **/
.searchform {
  display: none;
  position: absolute;
  width: 400px;
  height: 50px;
  line-height: 40px;
  top: 85px;
  left: -200px;
  padding: 0 15px;
  cursor: default;
  
}

.searchlink.open .searchform {
  display: block;
}

#search {
  display: block;
  position: relative;
}

#s {
  width: 470px;
  height: 50px;
  background-color: rgba(1,151,171,1);
  padding: 8px 11px;
  border: 0;
  color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 2em;
}

.sbtn {
  display: block;
  position: absolute;
  right: 5px;
  top: 13px;
  background: none;
  border: none;
  color: #bcbcbc;
  font-size: 0.6em;
  cursor: pointer;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}